<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the <%= title %> Page</h1>
    <nav>
        <a href="/">Home</a>
       
    </nav>
    <div>
        <p>This is the <%= title %> page where we offer detailed insights about our organization, our mission, and the team that drives us forward.</p>
    </div>
</body>
</html>
